.stats-table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 1rem;
    text-align: left;
  }
  
  .stats-table thead tr {
    background-color: #333;
    color: #fff;
    text-align: left;
  }
  
  .stats-table th, .stats-table td {
    padding: 12px 15px;
    border: 1px solid #ddd;
  }
  
  .stats-table tr {
    background-color: #f8f8f8;
  }
  
  .stats-table tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  .stats-table th {
    cursor: pointer;
  }
  
  .stats-table th span {
    margin-left: 5px;
  }
  
  .stats-table tbody tr:hover {
    background-color: #e2e2e2;
  }
  
  @media screen and (max-width: 600px) {
    .stats-table thead {
      display: none;
    }
  
    .stats-table, .stats-table tbody, .stats-table tr, .stats-table td {
      display: block;
      width: 100%;
    }
  
    .stats-table tr {
      margin-bottom: 15px;
    }
  
    .stats-table td {
      text-align: right;
      padding-left: 50%;
      position: relative;
    }
  
    .stats-table td::before {
      content: attr(data-label);
      position: absolute;
      left: 0;
      padding-left: 15px;
      font-weight: bold;
    }
  }